.who-we-are{
  background-color:#2E488E;
  height: auto;
  width: 100%;
  padding: 5%;
  margin-bottom: 5%;
}

.title{
  text-align: center;
  color: #F3A47D;
  font-size:24px;
  font-weight: strong;
  top: 50%;
  left: 50%;
}

.stats-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.stats-child {
 padding: auto 2.5%;
  width:20%;
}

.partner-with-us-btn{
  color: white;
  background-color: #F3A47D;
  border-radius: 16px;
  border-color: #F3A47D;
  padding:0.5%;
  margin-left:49.5%;
}

.partner-with-us-btn:hover{
  color:#2E488E;
}

.where-we-work{
  background-color:white;
  padding-left: 1rem;
}
.company-logo {
  max-height:5%;
  max-width: 5%;
  margin-right:5%;
}

.projects-slider{
  color: #F3A47D;
  background-color: white;
  

}