* {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  position: relative;
  height: 300px;
  bottom: 0px;
  background-color: #2E488E;
  width: 100%;
  padding: auto 10%;
  border-width: 10em;
  border-color: #2E488E;
}

.nav-container {
  font-weight: 250;
  font-size: 18px;
  padding: 0.5rem;
}

.nav-child {
  display: inline-block;
  padding-top: 10px;
  padding-left: 60px;
}

.nav-child:hover {
  color:#F3A47D;
}

.logos {
  height: 15%;
  width: 20%;
  padding-right: 30px;
  position: absolute;
  bottom: 100px;
  right: 0;
  padding-bottom: 20px;
}

.logo-child {
  display: inline-block;
  padding-right: 20px;
  height: 100%;
  margin-bottom: 20px;
}

.mailing-list {
  width: 80%;
  border-radius: 16px;
  height: 80%;
  border-color: white; 
  background-color: #2E488E;
  font-size: 14px;
  font-weight: thin;
  margin-right: 40px;
}

/** HEADER **/ 

.navbar-child {
  color: #344F99;
  font-size: 18px;
  width: auto;
  margin-right: 5%;

}

.navbar-child:hover {
  color:#F3A47D;
  font-size: 20px;
}

.navbar-logo{
    height:100%;
    width:95%;
    margin-left: 3%;
    margin-top: 3%;
}