* {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  position: relative;
  height: 300px;
  bottom: 0px;
  background-color: #2E488E;
  width: 100%;
  padding: auto 10%;
  border-width: 10em;
  border-color: #2E488E;
}

.nav-container {
  font-weight: 250;
  font-size: 18px;
  padding: 0.5rem;
}

.nav-child {
  display: inline-block;
  padding-top: 10px;
  padding-left: 60px;
}

.nav-child:hover {
  color:#F3A47D;
}

.logos {
  height: 20%;
  width: 25%;
  padding-right: 30px;
  position: absolute;
  bottom: 25%;
  right: 0%;
  padding-bottom: 20px;
  float:right;
}
.acknowledgements {
  height: 20%;
  width: 25%;
  padding-right: 30px;
  position: absolute;
  bottom: 25%;
  left: 0%;
  padding-bottom: 20px;
  float:left;
}
.logo-child {
  display: inline-block;
  width: 20%;
  padding-right: 1%;
  height: 110%;
  margin-bottom: 5%;
}

.mailing-list {
  width: 100%;
  border-radius: 16px;
  height: 100%;
  border-color: white; 
  background-color: #2E488E;
  font-size: 14px;
  font-weight: thin;
  margin-right: 3%;
}

.mailing-list:hover{
  background-color: #F3A47D;
  color: #344F99;
}

.logo-child:hover{
  transform: scale(1.1);
}

/** HEADER **/ 

.navbar-child {
  color: #344F99;
  font-size: 17px;
  width: auto;
  margin-right: 3%;

}

.navbar-child:hover {
  color:#F3A47D;
}

.navbar-logo{
    height:100%;
    width:90%;
    margin-left: 1.5%;
    margin-top: 2.5%;
}

/* Project Card */
.project-card {
  background-color: #E6E7FF;
  border-radius:12px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  display:inline-block;
  text-align: center;
  width:30%;
  height:auto;
  padding: 2.5%;
  margin: 6% !important;
}

.project-card-title {
  color: #344F99;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5%;
}

.project-card-img {
  border-radius: 16px;
  height:90%;
  width:90%;
}

.quarter {
  color: rgba(0,0,0,0.7);
  font-size: 30px;
  margin-top:5%;
  margin-bottom:5%;
}

/* FAQ Card */

.title{
  color: black;
}

.content{
  color: black;
}

/* Stats Card */
.stats-card-container {
  background-color:white;
  height: auto;
  width: 80%;
  padding-right:0%;
  padding-left:7.5%;
  padding-top:2.5%;
  text-align: center;
}

.stats-card-figure {
  font-size: 48px;
  font-weight: 800;
  color: #F3A47D;
  text-align: center;
  width:50%;
}

.stats-card-text {
  font-size:30px;
  font-weight:600;
  color:#36393c;
  width:50%;
  text-align: center;
}
